includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - routes

    level: 6

    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$[a-zA-z]+#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::[a-zA-z]+#'
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
#   excludePaths:
#     - ./*/*/FileToBeExcluded.php
    reportUnmatchedIgnoredErrors: false
